@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 25% 96%;
    --foreground: 222 53% 10%;
    --card: 0 0% 100%;
    --card-foreground: 222 53% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 53% 10%;
    --primary: 20 100% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 68% 42%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 24% 92%;
    --muted-foreground: 216 22% 43%;
    --accent: 222 71% 38%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 22% 85%;
    --input: 217 22% 85%;
    --ring: 20 100% 50%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.6rem;
    --sidebar-background: 222 71% 38%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 222 53% 10%;
    --sidebar-accent: 20 100% 50%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 222 45% 30%;
    --sidebar-ring: 20 100% 50%;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 30 95% 53%;
    --primary-foreground: 0 0% 98%;
    --secondary: 145 63% 42%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 221 50% 55%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 30 95% 53%;
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 222 47% 11%;
    --sidebar-accent: 30 95% 53%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 30 95% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
